/* App.css */

.flex {
    display: flex;
  }
  
  .transition-all {
    transition: all 0.3s ease;
  }
  
  /* Add styles for the sidebar if needed */
  .sidebar {
    width: 250px; /* Adjust as per your design */
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #2c3e50; /* Sidebar background color */
    transition: transform 0.3s ease;
    transform: translateX(-100%); /* Hide by default */
  }
  
  .sidebar.open {
    transform: translateX(0); /* Show when open */
  }
  